footer{
    background: #484a4d;
    color: rgba(247, 247, 247, 0.4);
    justify-content: center;
    align-items: center;
    float: center;
    min-width: 250px;
}
.p-4{
    display: flex;
    flex-wrap: wrap;
    
}
#T-text{
    text-align: center;
    color: rgb(240, 248, 255);
    flex: 2;
    min-width: 250px;
    /*margin: auto !important;*/
}
#T-text .T1{

    color: rgb(255, 255, 255);
    position: relative;
    
    /*margin:auto !important;*/
}
#Text_container{
    flex: 2;
    min-width: 250px;

}
#Text_container p{
    color:aliceblue;
}
.p-4 #Text_container #unorder_list .unorder_a{
    color:aliceblue;

}
.copyright{
    color:aliceblue;
}
.copyright a{
    color:aliceblue;
}
.copyright .copyright_text{
    color:rgb(255, 255, 255);
}
.copyright{
    position: relative;
    top:-10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.copyrightText1{
    min-width: 250px;
}

