body {
  background-color: #ffffff;
}


#navhover{
  font-size: large;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 1px;
  margin-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 40px;
  line-height: 20px;
  cursor:pointer; cursor: hand
}

.p{
  font-size: 19px;
}

#navhover :hover{
  color: #093f8b;
  cursor:pointer; cursor: hand
} 

#navbarMax {
  transition: all 0.8s;
}
#navmaxhoc{
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  letter-spacing: 1px;
  margin-left: 30px;
  font-weight: 500;
  cursor:pointer; cursor: hand
}
