#contact {
  padding-top: 120px;
  padding-bottom: 60px;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  background: #569dc9; /* Old browsers */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#54d0dd+0,54d0dd+0,54d0dd+0,7fdce6+0,54d0dd+100 */
  background: -moz-linear-gradient(
    top,
    #3c8faf ,
    #337a8b ,
    #2d6166 
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #3c8faf ,
    #337a8b ,
    #2d6166 
  ); /* Chrome10-25,Safari5.1-6*/ 
  background: linear-gradient(
    to bottom,
    #3c8faf ,
    #337a8b ,
    #2d6166 

  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */  
 
  color: aliceblue;
}

#contact .btn-default {
  text-transform: uppercase;
  color: aliceblue;
  background-color: #414a52;
  border: 0;
  padding: 14px 20px;
  margin: 0;
  font-size: 16px;
  border-radius: 0;
  margin-top: 20px;
  transition: all 0.3s;
}

#contact hr {
  align-self: center;
  width: 70px;
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
  left: 50%;
  margin-left: -35px;
  border: 0;
  border-top: 3px solid #383838;
}

#contact h2 {
  color: #080808;
}

.form{
  display: flex;
  justify-content: center;
}

#contact .form-control {
  display: flex;
  width: 100vh;
  padding: 20px 10px;
  padding-bottom: 30px;
  border: 0;
  font-size: 14px;
  color: #1f1e1e;
  background-color: rgba(255, 255, 255, 0.8);
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  border-radius: 20px;
  border-color: #080808;
  resize: none;
  
}

#contact .social {
  margin-top: 40px;
}
#contact ul {
  padding: 0;
}
#contact .social ul li {
  display: inline-block;
  padding: 0 25px;
  font-size: 26px;
  color: #343b42;
  transition: all 0.3s;
}
#contact a {
  color: #0c0c0c;
}

#contact a:hover, a:focus, a:active {
  color: #2f5d91;
  transition: all 0.3s;
}
#contact .btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#contact a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  outline-offset: none;
}

#contact .btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active {
  color: rgb(33, 139, 156);
  background-color: #414a52;
}
#contact .btn-default{
  border-radius: 10px;
}
