#about {
  padding: 50px 0;
  text-align: left;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#54d0dd+0,54d0dd+0,54d0dd+0,7fdce6+0,54d0dd+100 */
  background: #fbfbfb; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgb(0, 0, 0) 0%,
    rgb(25, 25, 25) 0%,
    rgb(23, 23, 23) 0%,
    rgb(6, 6, 6) 0%,
    rgb(8, 8, 8) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    to top,60px
    rgb(11, 11, 11) 0%,
    rgb(11, 11, 11) 0%,
    rgb(8, 8, 8) 0%,
    rgb(4, 4, 4) 0%,
    rgb(7, 7, 7) 100%,
  ); /* Chrome10-25,Safari5.1-6*/ 
  background: linear-gradient(
    to bottom,
    rgb(12, 12, 12) 0%,
    rgb(11, 11, 11) 0%,
    rgb(5, 5, 5) 0%,
    rgb(10, 10, 10) 30%,
    rgb(5, 5, 5) 100%,

  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54d0dd', endColorstr='#54d0dd', GradientType=0 ); /* IE6-9 */
}
#about .about-text {
  margin-left: 10px; /*espacio entre imagen y texto*/
}

#about .list {
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    opacity: 1.0;
    justify-content: center;
    
}

#about hr {
  align-self: center;
  width: 70px;
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
  left: 50%;
  margin-left: -35px;
  border: 0;
  border-top: 3px solid #383838;
}

#about .btn-default {
  text-transform: uppercase;
  color: #ffffff;
  background-color: #414a52;
  border: 0;
  padding: 14px 20px;
  margin: 0;
  font-size: 16px;
  border-radius: 0;
  margin-top: 20px;
  transition: all 0.3s;
  position: relative;
  left: -100px;
}

#about .btn-lg:hover,
.btn-lg:focus,
.btn-lg.focus,
.btn-lg:active,
.btn-lg.active {
  color:  rgb(33, 139, 156);
  background-color: #414a52;
}
#about .btn-lg {
  border-radius: 10px;
}

#about img {
  float: right;
  display: block;
  max-width: 100%;
  width: auto;
  height: auto;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 0px #383838;
}
#list_Group{
  list-style-type: disc;
  background: #fbfbfb;
}
#list_Group li{
  margin-bottom: 15px;
}
.tittle{
  margin-top: 30px;
}
