@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
#login {
  padding: 0;
  width: 100%;
  height: 100%;
  color: #d6dadd;
  text-align: center;
  font-family: "Montserrat","sans-serif";
}

.custom-row {
  --bs-gutter-x: 0;
}

#login .gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    #8d674c,
    #1bccae,
    #dd3675,
    #050003
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #05363c, #007184);
  border-color: #1c484f;
  box-shadow:5px 5px 5px #05363c;
  position: relative;
  right: inherit;
  right: 135px;
}

#login .form-control, .form-label {
  background-color: rgba(0, 0, 0, 0.15);
  color: #fafaf9;
}

/* #login .form-check {
  margin-left: 10px;
  margin-top: -5px;
} */

#login .login {
  background-color: #1c484f;

  /* fallback for old browsers */
  /* background: #134186; */

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #e8ef1f, #1b3757, #b44593);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background: linear-gradient(to right, #050124, #050124, #710851); */
  /* background: linear-gradient(to right, #02282d,#05363c, #007184); */
  
}
#col1{
  background-color: #1c484f;
}
#col2{
  background-color: #b6c6c8;
}
#textclo2{
  font-size: 50px;
  color: #1c484f;
}

/* #login .btnface{
  align-items: center;
  margin-left: 10px;
  
} */

#btnsing{
  position: relative;
  right: 130px;
  top:-15px;
}

#btndanger{
<<<<<<< HEAD
  border-radius: 10px
  
}

#facebook{
  position: relative;
  left: 170px;
  top: -5px;
}

#twitter{
  position: relative;
  top: 55px;
  right: 189px;
}
=======
  border-radius: 10px;
}
>>>>>>> b525a261d3cf9825e7ef5e1f8ff15a2bc7f43166
