@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
#login {
  padding: 0;
  width: 100%;
  height: 100%;
  color: #d6dadd;
  text-align: center;
  font-family: "Montserrat","sans-serif";
}
.Container-form-group{
  display: flex;
  align-self: center;
  flex-direction: column;
  
} 

.form-group{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.otherlogin{
  display: flex;
  flex-direction: column;
  align-items: center;
}


#login .gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    #8d674c,
    #1bccae,
    #dd3675,
    #050003
  );

  background: linear-gradient(to right, #05363c, #007184);
  border-color: #1c484f;
  border: 4px solid #1c484f;
  border-radius: 10px;
  position: relative;
  right: inherit;
}

#login .form-control, .form-label {
  background-color: rgba(0, 0, 0, 0.15);
  color: #fafaf9;
}

#login .login {
  background-color: #1c484f;
  background: -webkit-linear-gradient(to right, #e8ef1f, #1b3757, #b44593);
}
#col1{
  background-color: #1c484f;
}
#col2{
  background-color: #b6c6c8;
}
#textclo2{
  font-size: 50px;
  color: #1c484f;
}

 .logButton{
  width: 60%;
  
} 
.text-container{
  display: flex;
  justify-content: center;
}